.ItalyImage{
  width: 800px;
  height: 400px;
  position: relative;
  left: 570px;
}

.ColorButton{
  text-emphasis-color: black;
  color: rgba(45, 45, 223, 0.658);
  position: relative;
  right: 210px;
  top: 180px;
}

.text{
  color: rgb(1, 1, 44);
  position: relative;
  top: -120px;
  left: 590px;
  font-weight: bold;
}

.city{
  text-align: center;
  color: antiquewhite;
  font-weight: bold;
}

.city2{
  color:antiquewhite;
}

.city3{
  color:rgb(64, 64, 78);
  font-weight: bolder;
}

.image2{
    width: 300px;
    height: auto;
    /* Keeps aspect ratio */
  }

#mdl-buttoncolored{
  color:rgb(14, 48, 48)
}

#icons{
  color: rgb(14, 48, 48);
}